.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore everything by default
*

# Allow directories (otherwise folders get hidden)
!*/

# Allow markdown files
!*.md
!*.pdf

# Keep .gitignore itself
!.gitignore

# Ignore RStudio project files
*.Rproj
.Rproj.user/

# Ignore PowerPoint
*.pptx
